<h1>Let's start counting!</h1>
<%= link_to "Family", new_family_path, :class => "btn btn-success" %>
<%= link_to "Individual", new_individual_path, :class => "btn btn-warning" %>
<%= link_to "Shelter", new_shelter_path, :class => "btn btn-primary" %>